@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    background: rgb(48, 46, 46);
}

.title{
    display: inline;
}

.clear{
    clear: both;
}

h1{
    font-size: 225%;
    color: rgb(36, 34, 34);
    font-weight: bold;
    font-style: italic;
    padding: 5%;
    text-align: center;
    width: 90%;
    height: 60%;
    background-image: url(img/photoStLaurentCollege.jpg);
    background-size: 100%;
}

.text {
    font-size: 130%;
    color: white;
    text-align: right;
    padding: 10px 20px;
}

.section1{
    margin: 75px;
}

.div1{
    font-weight: 700;
}

.cookies{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    padding-left: 5%;
}

.boutons{
    font-weight: 700;
    font-size: 120%;
    color: black;
    text-align: left;
    padding: 3px 10px;
}

